.box{
    display: flex;
    min-height: 200px;
    background-color: #FFC0CB;
    border: 1px solid black;
    color: black;
    line-height: 200px;
    align-items: center;
    justify-content: center;
    
}
.box-nested {
    display: flex;
    background-color:#F07F80;
    border: 1px solid black;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}